@import "src/core/styles/variables/colors";

.tableContainer{
  & tr:nth-child(2n){
    background-color: $gray-3;
  }
}

.tableRow{
  &:hover{
    background-color: $primary-2 !important;
  }
  &.head{
    background-color: $gray-1;
    &:hover{
      background-color: $gray-1 !important;
    }
  }
}

.tableGap{
  padding: 8px;
}
